
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <iframe src="/ReportViewer.aspx" style="border-style:none;height:stretch" width="100%">
    </iframe>
</div>